# Supabase Configuration
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key

PRIVATE_KEY=your_private_key_here

# MNEMONIC=your twelve or twenty four word mnemonic phrase here
# MNEMONIC_INDEX=0 

# Faucet Configuration - USDC Token
FAUCET_AMOUNT=10
TOKEN_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238 
TOKEN_DECIMALS=6 
PORT=3000

# Optional: Rate Limiting
MAX_REQUESTS_PER_HOUR=10